/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Rosario');
@import url('https://fonts.googleapis.com/css2?family=Quicksand');

$font-family-serif: "Quicksand", sans-serif;
$font-family-sans-serif: "Quicksand", sans-serif;
$headings-font-family: "Rosario", sans-serif;
$primary: #990032;
$navbar-bg: #990032;
$title-banner-color: black;

/*-- scss:rules --*/

